.App{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
section{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


input{
  padding: .8rem 2rem;
}

.modal{
  height: 220px;
  width: 200px;
  background-color: white;
  border-radius: 50%;
}